.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: .5rem;
  width: 100%;
  color: #858585;
}

.active {
  border-color: blue;
}