.preview {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin: 0 auto;
  width: 100%;
  margin: .5rem;

}

.DraftEditor-root {
    height: 500px;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.change-note_btn {
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.3rem;
  width: 60px;
  margin-bottom: .5rem;
}
