.note-edit {
  display: flex;
  flex-direction: column;
  textarea {
    @include container-border;
    height: 100px;
    resize: none;
    margin-bottom: .3rem;
  }
}

.DraftEditor-root {
  @include container-border;
  height: 500px;
}

